body{
   font-family: sans-serif;
   background-color: #DF5F60;
   color: #fff;
}

h1{
    font-family: 'Silkscreen', cursive;;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.activity-btn{
    padding: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid #A49D8B;
    cursor: pointer;
}